/target
pins.db*
*.db
*.db-shm
*.db-wal
*.db-journal
test_*.db*
venv/

# Terraform ignores
.terraform/
*.tfstate
*.tfstate.backup
terraform.tfvars
.terraform.lock.hcl
# Node & Capacitor
node_modules/
package-lock.json

# Android Build & Keystores
android/.gradle/
android/app/build/
android/build/
*.jks
*.keystore
*.aab
*.apk
